body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("./assets/croppedDanceFloor.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:3px solid green;
  border-radius:3px;
  position:absolute;
  transition-duration: 1s;
}

.dancer.cartoon {
  border:0px;
}

.dancer.human {
  border:0px;
}

.spotlight {
  border: 10px solid red;
  border-radius: 5px;
  position: absolute;
  transition-duration: 1s;
}